/* App.css */

*{
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: auto;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #3b5998;
  margin-bottom: 20px;
}

h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

p {
  color: #7f8c8d;
  font-size: 1.1rem;
}

button {
  background-color: #3b5998;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2d4373;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #3b5998;
  outline: none;
}

img {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.card {
  background-color: rgba(182, 181, 181, 0.756);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.5rem;
  color: #3b5998;
}

.card p {
  font-size: 1rem;
  color: #020202;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
  box-shadow: black;
}

.history-container {
  margin-top: 30px;
  font-size: 1.2rem;
}
